<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>

    <link rel="stylesheet" href="../static/css/golang.css">

    <meta name="google-adsense-account" content="ca-pub-8291700047790609">

</head>

<body>

    <div class="centraliza">

        <header>

            <div class="centraliza">

                <img src="../static/images/casinha.png" alt="" class="user" id="casa" onclick="window.location.href='/home'" title="Home">

                <br>

                <img src="../static/images/la_user.png" alt="" class="user" id="perfil" onclick="window.location.href='/perfil'" title="Perfil">

                <br>

                <img src="../static/images/explorar.png" alt="" class="user" id="pesquisar" onclick="window.location.href='/pesquisar'" title="Pesquisar usuário">

                <br>

                <img src="../static/images/logo.png" alt="" class="img_logo" id="logo" >

                <br>

                <img src="../static/images/pesquisa.png" alt="" class="user" id="busca" title="Tecnologias">

                <br>

                <img src="../static/images/addpost.png" alt="" class="user" id="addpost" onclick="window.location.href='/post'" title="Postar">

                <br>

                <img src="../static/images/out.png" alt="" class="user" id="sair" onclick="window.location.href='/'" title="Sair">

            </div>

        </header>

    </div>


    <div id="mySidebar">

        <div class="centraliza">

            <h3>Tecnologias:</h3>

        </div>

        <div class="centraliza">

            <img src="/static/images/golang.jpg" width="40px" height="50px">

            <a href="/golang">GoLang</a>

        </div>  

        <div class="centraliza">

            <img src="/static/images/java.png" width="40px" height="50px">

            <a href="/java">Java</a>

        </div>

        <div class="centraliza">

            <img src="/static/images/c.png" width="40px" height="50px">

            <a href="/c">C</a>

        </div>

        <div class="centraliza">

            <img src="/static/images/postgre.png" width="40px" height="50px">

            <a href="postgreSQL">PostgreSQL</a>
            
        </div>

    </div>

    <div class="centraliza">

        <img src="../static/images/c.png" alt="" class="avatar2">

    </div>

    <div class="centraliza textoGo ">

        <p >Go é uma linguagem de programação criada pela Google e lançada em código livre em novembro de 2009. É uma linguagem compilada e focada em produtividade e programação concorrente,[6] baseada em trabalhos feitos no sistema operacional chamado Inferno.[7] O projeto inicial da linguagem foi feito em setembro de 2007
        por Robert Griesemer, Rob Pike e Ken Thompson. Atualmente, há implementações para Windows, Linux, Mac OS X e FreeBSD.</p>
    </div>


    <div class="centraliza textoGo">

        <div class="golang">

            <h2>Primeiros Passos Linguagem C</h2>

            <div class="centraliza">

                <h3>Instalação</h3>
            
            </div> 
            
            <div class="centraliza">

                <p>
                    O seu processo de instalação é muito simples. Basta acessar o site oficial da linguagem e baixar o instalador correspondente ao seu S.O (Sistema Operacional), após isso independente do S.O que você esta utilizando a sua instalação é padrão Windows: next, next e finish.
                </p>

            </div>
                
            <div class="centraliza">

                <h3>Workspace</h3>

            </div>

            <div class="centraliza">

                <p>
                    Para que possamos trabalhar com o Go, o go já cria o nosso workspace no momento da sua instalação. Para esse artigo eu estou utilizando um computador com    Windows, tendo em vista esse cenário o path ficou: C:\Go\src. Agora para que possamos finalizar esse etapa do artigo, nós precisamos criar dois novos diretórios: um chamado github.com e um outro com o nome do nosso usuário do git, tendo em vista esse cenário o meu path ficou: github.com\programadriano.
                </p>

            </div>
        
        </div>
  
    </div>
    
<script type="module" src="../static/js/golang.mjs"></script>

</body>

</html>