<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>   <!-- Título da Página -->

    <link rel="icon" href="..\static\images\logo.ico" type="image/x-icon">  <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/carregamento.css">

    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">


    <meta name="google-adsense-account" content="ca-pub-8291700047790609">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
     crossorigin="anonymous"></script>

</head>

<body>
    <img src="../static/images/logo.ico" id="logo">

    <script src="../static/js/carregamento.mjs"></script>
</body>

</html>
