<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="pt-br">

<head>
    
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="keywords" content="tectec, TECTEC. TecTec, TecTec 2023">

    <title>TecTec</title> <!-- Título da Página -->

    <link rel="icon" href="../static/images/logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/carregamento.css">

</head>

<body>
    
    <img src="../static/images/logo.png" id="logo" width="100" height="100">

    <script type="module" src="../static/js/carregamento.mjs"></script>

</body>

</html>
