<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecTec</title>
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/carregamento.css">
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">

</head>

<body>
    <img src="../static/images/logo.png" id="logo">

    <script src="../static/js/carregamento.mjs"></script>
</body>

</html>
