<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>   <!-- Título da Página -->

    <link rel="icon" href="..\static\images\logo.ico" type="image/x-icon">  <!-- Ícone da Página -->
    
    <link rel="stylesheet" href="../static/css/home.css">

    <link rel="stylesheet" href="../static/css/comentario.css">

    <meta name="google-adsense-account" content="ca-pub-8291700047790609">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
     crossorigin="anonymous"></script>

</head>

<body>

    <div class="centraliza">
        
        <script type="module" src="../static/js/header.mjs" async></script> <!-- Insere o header no topo da pagina -->

    </div>

    <div class="centraliza">

        <div id="postagem-principal">   <!-- Espaço da postagem principal -->

        </div>

    </div>

    <div class="centraliza">    <!-- Caixa de comentário -->

        <textarea id="inputComentario" placeholder="Adicione um comentario para o post!"></textarea>    <!-- Inserção do comentário -->
        
    </div>

    <div class="centraliza">

        <button class="botao" id="botaoComentario">COMENTAR</button>    <!-- Botão para enviar o comentário -->

    </div>

    <script type="module" src="../static/js/bar.mjs" async></script>
    
    <script type="module" defer src="../static/js/comentario.mjs"></script>

</body>

</html>