<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="en">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec - Comentar</title> <!-- Título da Página -->

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/comentario.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Insere o header no topo da pagina -->

    <main>

        <div id="postagem-principal"></div> <!-- Espaço da postagem principal -->

        <div id="comentar"> <!-- div responsável pelo campo total do comentário -->

            <textarea id="inserirComentario" placeholder="Adicione um comentario para o post!"></textarea> <!-- Inserção do comentário -->

            <button class="botao" id="botaoComentario">COMENTAR</button> <!-- Botão para enviar o comentário -->

        </div>

    </main>

    <div id="toastCerto" class="hidden">Comentário feito com sucesso!</div>

    <script type="module" src="../static/js/menuDasTecnologias.mjs"></script> <!-- Script do menu das tecnologias -->

    <script type="module" src="../static/js/comentario.mjs"></script>

</body>

</html>