<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Tectec</title>
    <link rel="stylesheet" href="../static/css/golang.css">
</head>
<body>

    <div class="centraliza">
        <header class="navigation_header">
            <div class="centraliza">
                <img src="../static/images/logo.png" alt="" class="img_logo" id="logo">
            </div>
            <br>
            <div class="centraliza">
                <div id="opcoes">
                    <a href="home">
                        <img src="../static/images/casinha.png" alt="" class="user" id="casa" onclick="window.location.href='/home'">
                    </a>
                    <br>
                    <a href="/perfil">
                        <img src="../static/images/la_user.png" alt="" class="user" id="perfil">
                    </a>
                    <br>
                    <a href="#" id="btn-abrir">
                        <img src="../static/images/pesquisa.png" alt="" class="user" id="pesquisa">
                    </a>
                    <br>
                    <a href="/login">
                        <img src="../static/images/out.png" alt="" class="user" id="sair">
                    </a>
                </div>
            </div>
            

        </header>
    </div>

    <div class="centraliza">
        <div id="carrosel"></div>
    </div>


    <div class="sobrepor" id="sobrepor">
        <div class="btn-fechar" id="btn-fechar"><img src="../static/images/mini-vector5-branco.png" alt=""></div>
        <h1>Tecnologias</h1>
        <ul>
            <li class="item-menu">
                <a href="#">Mysql</a>
            </li>
            <li class="item-menu">
                <a href="#">Javascript</a>
            </li>
            <li class="item-menu">
                <a href="../views/golang.html">Golang</a>
            </li>
            <li class="item-menu">
                <a href="#">Html</a>
            </li>
        </ul>
    </div>

    <section class="container">
        <img src="../static/images/golang-bg.png" alt="" class="avatar">
    </section>


    <section class="container-cartao">
        <div class="cartao" id="mostrarOverlay" > 
            <h3>Primeiros passos</h3>
        </div>
        <div class="cartao" id="mostrarOverlay2" > 
            <h3>Bibliotecas</h3>
        </div>
        <div class="cartao" id="mostrarOverlay3"> 
            <h3>Finalidades</h3>
        </div>
    </section>
    
    <div class="overlay-passos" id="overlay-passos">
        <div class="cartao-passos">
            <h1>Primeiros Passos Golang</h1>
            <p>Conteúdo da minha página.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laborum in, odio dignissimos labore impedit! Aliquam deleniti necessitatibus dignissimos, quas doloribus aut ducimus accusamus, molestias corporis voluptatum voluptates reprehenderit quaerat?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laborum in, odio dignissimos labore impedit! Aliquam deleniti necessitatibus dignissimos, quas doloribus aut ducimus accusamus, molestias corporis voluptatum voluptates reprehenderit quaerat?</p>
        
            <div class="btn-container">
                <button class="btn-cartao"  id="fecharOverlay">Fechar</button>
            </div>
        </div>
    </div>
    
    <div class="overlay-biblioteca" id="overlay-biblioteca">
        <div class="cartao-bibliotecas">
            <h1>Bibliotecas Golang</h1>
            <p>Conteúdo da minha página.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laborum in, odio dignissimos labore impedit! Aliquam deleniti necessitatibus dignissimos, quas doloribus aut ducimus accusamus, molestias corporis voluptatum voluptates reprehenderit quaerat?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laborum in, odio dignissimos labore impedit! Aliquam deleniti necessitatibus dignissimos, quas doloribus aut ducimus accusamus, molestias corporis voluptatum voluptates reprehenderit quaerat?</p>
        
            <div class="btn-container">
                <button class="btn-cartao"  id="fecharOverlay2">Fechar</button>
            </div>
        </div>
    </div>

    <div class="overlay-finalidades" id="overlay-finalidades">
        <div class="cartao-finalidades">
            <h1>Finalidades Golang</h1>
            <p>Conteúdo da minha página.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laborum in, odio dignissimos labore impedit! Aliquam deleniti necessitatibus dignissimos, quas doloribus aut ducimus accusamus, molestias corporis voluptatum voluptates reprehenderit quaerat?</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Soluta laborum in, odio dignissimos labore impedit! Aliquam deleniti necessitatibus dignissimos, quas doloribus aut ducimus accusamus, molestias corporis voluptatum voluptates reprehenderit quaerat?</p>
        
            <div class="btn-container">
                <button class="btn-cartao"  id="fecharOverlay3">Fechar</button>
            </div>
        </div>
    </div>
    

<script src="../static/js/golang.mjs"></script>


    
</body>
</html>