<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../static/css/home.css">

</head>

<body>

    <div class="centraliza">

        <header>

            <div class="centraliza">

                <img src="../static/images/casinha.png" alt="" class="user" id="casa" onclick="window.location.href='/home'" title="Home">

                <br>

                <img src="../static/images/la_user.png" alt="" class="user" id="perfil" onclick="window.location.href='/perfil'" title="Perfil">

                <br>

                <img src="../static/images/explorar.png" alt="" class="user" id="pesquisar" onclick="window.location.href='/pesquisar'" title="Pesquisar usuário">

                <br>

                <img src="../static/images/logo.png" alt="" class="img_logo" id="logo" >

                <br>

                <img src="../static/images/pesquisa.png" alt="" class="user" id="busca" title="Tecnologias">

                <br>

                <img src="../static/images/addpost.png" alt="" class="user" id="addpost" onclick="window.location.href='/post'" title="Postar">

                <br>

                <img src="../static/images/out.png" alt="" class="user" id="sair" onclick="window.location.href='/'" title="Sair">

            </div>

        </header>

    </div>

    <br>

    <main>

        <div id="mySidebar">

            <div class="centraliza">

                <h3>Tecnologias:</h3>

            </div>

            <div class="centraliza">

                <img src="/static/images/golang.jpg" width="40px" height="50px">

                <a href="/golang">GoLang</a>

            </div>            

            <div class="centraliza">

                <img src="/static/images/java.png" width="40px" height="50px">

                <a href="/java">Java</a>

            </div>

            <div class="centraliza">

                <img src="/static/images/c.png" width="40px" height="50px">

                <a href="/c">C</a>

            </div>

            <div class="centraliza">

                <img src="/static/images/postgre.png" width="40px" height="50px">

                <a href="postgreSQL">PostgreSQL</a>

            </div>

        </div>

        <div id="loading">

            <img src="/static/images/loading.gif" alt="Carregando..." width="50px" height="50px">

        </div>

        <div id="carrosel">

        </div>

    </main>

    <script type="module" src="../static/js/home.mjs" defer></script>

</body>

</html>