<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecTec</title>
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">

    <link rel="stylesheet" href="../static/css/home.css">
</head>

<body>
    <div class="centraliza">
        <header class="navigation_header">
            <div class="centraliza">
                <a href="../views/perfil.html">
                    <img src="../static/images/la_user.png" alt="" class="user" id="perfil">
                </a>

                <a href="home.html">
                    <img src="../static/images/notificacao.png" alt="" class="user" id="sino">
                </a>

                <img src="../static/images/logo.png" alt="" class="img_logo" id="logo">

                <a href="#" id="open-Button">
                    <img src="../static/images/vector5.png" alt="" class="user" id="pesquisa">
                </a>

                <a href="#" >
                    <img src="../static/images/out.png" alt="" class="user" id="tecnologias">
                </a>
                
            </div>
            <div class="centraliza">
                <p id="nome" width="40px" height="30px" ></p>
            </div>
            
        </header>
    </div>

    <div class="centraliza">
        <div id="carrosel"></div>
    </div>


    <div class="overlay" id="overlay">
        <div class="close-button" id="close-Button"><img src="../static/images/mini-vector5-branco.png" alt=""></div>
        <h1>Tecnologias</h1>
        <ul>
            <li class="item-menu">
                <a href="#">Mysql</a>
            </li>
            <li class="item-menu">
                <a href="#">Javascript</a>
            </li>
            <li class="item-menu">
                <a href="#">Golang</a>
            </li>
            <li class="item-menu">
                <a href="#">Html</a>
            </li>
        </ul>
    </div>

    <div class="centraliza"> 
        <button class="button_add_post" onclick="window.location.href='/post'"> + </button>
    </div>
    <script src="../static/js/home.js" defer></script>
</body>

</html>