<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>  <!-- Titulo da Página -->

    <link rel="icon" href="..\static\images\logo.ico" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="..\static\css\home.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs" async></script> <!-- Script do header principal -->

    <main>

        <script type="module" src="../static/js/bar.mjs" async></script> <!-- Script da aba de tecnologias -->

        <script type="module" src="../static/js/loading.mjs" defer></script> <!-- Script do gif de loading -->

        <script type="module" src="../static/js/feed.mjs" defer></script> <!-- Script do feed -->

    </main>

    <script type="module" src="../static/js/home.mjs" defer></script> <!-- Script da pagina inicial -->

</body>

</html>