<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title> <!-- Título da Página -->

    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/login.css">

</head>

<body>

    <form> <!-- Formulário do Login -->

        <img src="../static/images/logo.ico" alt="" id="logo"> <!-- Logo Principal -->

        <img src="../static/images/tectec.png" alt="" id="logoNome"> <!-- Logo do Nome -->

        <label for="nickname" class="rotUsuario">Nickname:</label> <!-- Label do Nickname -->

        <input type="text" id="nickname" class="inserirTexto"> <!-- Inserir o Nickname -->

        <label for="senha" class="rotSenha">Senha:</label> <!-- Label da Senha -->

        <input type="password" id="senha" class="inserirTexto"> <!-- Inserir a Senha -->

        <button type="button" id="btEntrar">Entrar</button> <!-- Botão para verificar o login -->

        <button type="button" onclick="window.location.href='/register'" id="btCadastrar">Cadastro</button> <!-- Botão para ir na página de registro -->

    </form>

    <script type="module" src="../static/js/footer.mjs"></script> <!-- Script do Footer -->

    <script type="module" src="../static/js/login.mjs"></script> <!-- Script da página inteira -->

</body>

</html>