<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecTec</title>
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/login.css">
    <link href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100&family=Nunito:wght@200&family=Open+Sans:wght@300&display=swap" rel="stylesheet">
</head>

<body>
    <!-- Logo do site -->

        <div class="centraliza">

            <img src="../static/images/logo.png" alt="" id="logo">

        </div>
        


    <!-- Formulário para o login do site -->
    <form>
        <!-- Preenchimento do nickname para o login do site -->
        <label for="usuario" class="rotUsuario">Nickname:</label> <br />

        <div class="inputBox">

            <input type="text" name="nickname" id="nickname" class="inputText">

        </div>

        <br>
        <!-- Preenchimento da senha para o login do site -->
        <label for="senha" class="rotSenha">Senha:</label> <br />

        <div class="inputBox">

            <input type="password" name="senha" id="senha" class="inputText">

        </div>
        <!-- Botão de "Entrar" para o login do site -->
        <div class="btnContainer">

            <button type="button" id="entrar">Entrar</button>

        </div>
        <!-- Botão de "Registrar" para o cadastro do site -->
        <div class="btnContainer">

            <button type="button" onclick="window.location.href='/register'" id="cadastro">Cadastro</button>

        </div>

    </form>

    <div class="meio">

        <p id="tituloDesenvolvedores">Desenvolvedores:</p>

    </div>


        <div class="meio">

            <div class="cartaoDev">

                <div class="meio">

                    <p>Nome: Micael Ribeiro Rocha</p>

                </div>
                
                <div class="meio">

                    <p>Área: Full-Stack</p>

                </div>
                
                <div class="meio">

                    <img src="../static/images/micael.jpg" height="100" width="100">

                </div>
                
            </div>

        </div>

        <div class="meio">

            <div class="cartaoDev">

                <div class="meio">

                    <p>Nome: Brena dos Santos Freitas</p>

                </div>
                
                <div class="meio">

                    <p>Área: Front-End</p>

                </div>
                
                <div class="meio">

                    <img src="../static/images/brena.jpeg" height="100" width="100">

                </div>
                
            </div>

        </div>

        <div class="meio">
            
            <div class="cartaoDev">

                <div class="meio">

                    <p>Nome: João Pedro Botter Monegatto</p>

                </div>
    
                <div class="meio">

                    <p>Área: DBA</p>
                    
                </div>
                
                <div class="meio">

                    <img src="../static/images/joao.png" height="100" width="100">

                </div>
    
            </div>

        </div>

    <script type="module" src="../static/js/login.mjs"></script>

</body>

</html>
