<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>

    <link rel="icon" href="..\static\images\logo.ico" type="image/x-icon">
    
    <link rel="stylesheet" href="../static/css/perfil-visitado.css">

</head>

<body>


    <div class="centraliza">
        <script type="module" src="../static/js/header.mjs" async></script>
    </div>

    <div class="centraliza">
        <div id="perfil-usuario">
            <br><br><br>

            <div class="centraliza">
                <p id="nome"></p>
            </div>

            <div class="centraliza">
                <p id="tecnologia"></p>
            </div>

            <div class="centraliza">
                <p id="seguidores"></p>
            </div>

            <div class="centraliza">

                <button id="seguir" style="display: none;">Seguir</button>

            </div>

        </div>
    </div>

    <script type="module" src="../static/js/bar.mjs" async></script>

    <div class="centraliza">

        <div id="carrosel"></div>
        
    </div>

    <div id="loading">
        <img src="/static/images/loading.gif" alt="Carregando..." width="50px" height="50px">
    </div>

    <script type="module" defer src="../static/js/perfil-visitado.mjs"></script>

</body>

</html>
