<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>   <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.ico" type="image/x-icon">  <!-- Ícone da página -->
    
    <link rel="stylesheet" href="../static/css/perfil-visitado.css">

</head>

<body>


    <div class="centraliza">
        <script type="module" src="../static/js/header.mjs" async></script> <!-- Inserção do header na página -->
    </div>

    <div class="centraliza">
        <div id="perfil-usuario">   <!-- Principais informações do perfil -->
            <br><br><br>

            <div class="centraliza">
                <p id="nome"></p>   <!-- Nick da pessoa -->
            </div>

            <div class="centraliza">
                <p id="tecnologia"></p> <!-- Tecnologia preferida da pessoa -->
            </div>

            <div class="centraliza">
                <p id="seguidores"></p> <!-- Quantidade de seguidores que a pessoa tem -->
            </div>

            <div class="centraliza">

                <button id="seguir" style="display: none;">Seguir</button>  <!-- Botão para seguir o usuário -->

            </div>

        </div>
    </div>

    <script type="module" src="../static/js/bar.mjs" async></script>    

    <div class="centraliza">

        <div id="carrosel"></div>   <!-- Postagens do usuário -->
        
    </div>

    <div id="loading">
        <img src="/static/images/loading.gif" alt="Carregando..." width="50px" height="50px">   <!-- Símbolo de carregamento da página -->
    </div>

    <script type="module" defer src="../static/js/perfil-visitado.mjs"></script>    <!-- Script da página inteira -->

</body>

</html>
