<!DOCTYPE html>

<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title> <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.ico" type="image/x-icon"> <!-- Ícone da página -->

    <link rel="stylesheet" href="../static/css/perfil.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <main>

        <div id="perfil-usuario"> <!-- Principais informações do perfil -->

            <p id="nome"></p> <!-- Nick da pessoa -->

            <p id="tecnologia"></p> <!-- Tecnologia preferida da pessoa -->

            <p id="seguidores"></p> <!-- Quantidade de seguidores que a pessoa tem -->

        </div>

        <script type="module" src="../static/js/loading.mjs"></script> <!-- Script do gif de loading -->

        <script type="module" src="../static/js/feed.mjs"></script> <!-- Script do feed -->

    </main>

    <script type="module" src="../static/js/bar.mjs"></script> <!-- Script da aba de tecnologias -->

    <script type="module" src="../static/js/perfil.mjs"></script> <!-- Script da página inteira -->

    <script type="module" src="../static/js/footer.mjs"></script> <!-- Script do footer -->

</body>

</html>