<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec - Seu Perfil</title> <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/perfil.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <main>

        <p id="nome"></p>

        <div id="infos">

            <div class="perfil-usuario">

                <p id="rotSeguidores"></p>
    
                <p id="numSeguidores"></p> 
    
            </div>
    
            <div class="perfil-usuario">
    
                <p id="rotSeguindo"></p>
    
                <p id="numSeguindo"></p> 
    
            </div>

        </div>

        <div id="feed"></div>

    </main>

    <script type="module" src="../static/js/tecs.mjs"></script> <!-- Script das tecs -->

    <script type="module" src="../static/js/perfil.mjs"></script> <!-- Script da página inteira -->

</body>

</html>