<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title> <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/perfil-visitado.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <main>

        <div id="perfil-usuario"> <!-- Principais informações do perfil -->

            <p id="nome"></p> <!-- Nick da pessoa -->

            <p id="tecnologia"></p> <!-- Tecnologia preferida da pessoa -->

            <p id="seguidores"></p> <!-- Quantidade de seguidores que a pessoa tem -->

            <p id="seguindo"></p> <!-- Quantidade de pessoas que a pessoa segue -->

        </div>

        <p id="seguir">Seguir</p> <!-- Botão para seguir o usuário -->

        <script type="module" src="../static/js/feed.mjs"></script> <!-- Script do feed -->

    </main>

    <script type="module" src="../static/js/tecs.mjs" defer></script> <!-- Script das tecs -->

    <script type="module" src="../static/js/perfil-visitado.mjs"></script> <!-- Script da página inteira -->

</body>

</html>