<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="en">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> 

    <link rel="stylesheet" href="..\static\css\perfilVisitado.css"> 

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> 

    <main>

        <p id="nome"></p>

        <div id="infos">

            <div class="perfil-usuario">

                <p id="rotSeguidores"></p>
    
                <p id="numSeguidores"></p> 
    
            </div>
    
            <div class="perfil-usuario">
    
                <p id="rotSeguindo"></p>
    
                <p id="numSeguindo"></p> 
    
            </div>

        </div>

        <p id="seguir">Seguir</p> 

        <div id="feed"></div>

    </main>

    <script type="module" src="../static/js/perfilVisitado.mjs"></script> 

</body>

</html>