<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>   <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.ico" type="image/x-icon">  <!-- Ícone da página -->
    
    <link rel="stylesheet" href="../static/css/post.css">


    <meta name="google-adsense-account" content="ca-pub-8291700047790609">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
     crossorigin="anonymous"></script>
</head>

<body id="body">

    <div class="centraliza">

        <script type="module" src="../static/js/header.mjs" async></script> <!-- Inserção do header na página -->

    </div>

    <script type="module" src="../static/js/bar.mjs" async></script>

    <div id="centraliza">

        <div class="postagem">  <!-- Caixa da postagem -->

            <textarea id="inserirPostagem" placeholder="Diga o que está pensando."></textarea>  <!-- Inserção da postagem -->

        </div>

    </div>
    
    <div class="centraliza">

        <button id="publicar">Publicar</button> <!-- Botão para publicar a postagem -->

    </div>

    <script type="module" defer src="..\static\js\post.mjs"></script>   <!-- Script de toda a página de postagem -->
    
</body>

</html>
