<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TectTec</title>
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/post.css">
</head>
<body>
    <header class="navigation_header">
        <img src="../static/images/logo.png" alt="" id="logo">
    </header>

    <div class="postagem">
        <textarea type="text" class="inputTitle" placeholder="Escreva o título aqui :)"></textarea>
        <br>
        <textarea class="inputPostagem" placeholder="Conteúdo da postagem"></textarea>
    </div>
    <div class="buttons">
        <button class="Salvar"> Salvar</button>
        <button class="Publicar">Publicar</button>
    </div>
    
</body>
</html>