<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title> <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/post.css"> <!-- Arquivo CSS correspondente -->

</head>

<body id="body">

    <script type="module" src="../static/js/header.mjs" async></script> <!-- Script do header principal -->

    <main>

        <textarea id="inserirPostagem" placeholder="Diga o que está pensando."></textarea> <!-- Inserção da postagem -->

        <button id="publicar">Publicar</button> <!-- Botão para publicar a postagem -->

    </main>

    <div id="toastCerto" class="hidden">Postagem feita com sucesso!</div>

    <script type="module" src="../static/js/tecs.mjs" defer></script> <!-- Script das tecs -->

    <script type="module" defer src="../static/js/post.mjs"></script> <!-- Script de toda a página de postagem -->

</body>

</html>