<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecTec</title>
    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon">
    <link rel="stylesheet" href="../static/css/register.css">
    <link rel="shortcut icon" href="../static/images/logo.png" type="image/x-icon">
    <link
        href="https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Lato:wght@100&family=Nunito:wght@200&family=Open+Sans:wght@300&display=swap"
        rel="stylesheet">

</head>

<body>

    <header class="navigation_header">
        <img src="../static/images/logo.png" alt="" class="logo" id="logo">
    </header>
    <div class="forms">
        <label for="usuario" class="rotUsuario">Nickname:</label> <br />
        <div class="inputBox">
            <input type="text" name="nickname" id="nickname" class="inputUser">
        </div>
        <br>
        <label for="senha" class="rotSenha">Senha:</label> <br />
        <div class="inputBox">
            <input type="password" name="senha" id="senha" class="inputUser">
        </div>
        <br>
        <label for="confSenha" class="rotConfSenha">Confirmação da senha:</label> <br />
        <div class="inputBox">
            <input type="password" name="confSenha" id="confSenha" class="inputUser">
        </div>
        <br>
        <label for="telefone" class="rotTelefone">Telefone:</label> <br />
        <div class="inputBox">
            <input type="phone" name="telefone" id="telefone" class="inputUser">
        </div>
        <br>
        <label for="tecnologia" class="rotTelefone">Tecnologia que mais admira:</label> <br />
        <div class="inputBox">
            <input type="text" name="tecnologia" id="tecnologia" class="inputUser">
        </div>
        <div class="btnContainer">
            <button type="button" class="btn_entrar" id="cadastrar">Cadastrar</button>
        </div>
        <div class="btnContainer">
            <button type="button" class="btn_entrar" onclick="window.location.href='/login'">Voltar</button>
        </div>
    </div>
    <script defer src="..\static\js\register.mjs"></script>
</body>

</html>
