<!DOCTYPE html>

<html lang="en">
    
<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>Tectec</title>

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/sobre.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <main>

       
        <h2>Sobre o Tectec</h1>

        <p>
            O projeto "TecTec" é uma plataforma de rede social voltada para a difusão de conhecimento entre desenvolvedores e entusiastas da área de tecnologia.
            Ele se concentra em fornecer funcionalidades típicas de redes sociais, como fazer postagens, comentar em postagens, curtir conteúdo e aprender sobre diferentes tecnologias.
        </p>    

        <h2>Tecnologias e ferramentas</h2>


        <div class="imagens">

            <img src="/static/images/Go-Logo_Blue.png" alt="">
    
            <img src="/static/images/javascript.png" alt="">
    
            <img src="/static/images/docker.png" alt="">
    
            <img src="/static/images/html.png" alt="">
    
            <img src="/static/images/css.png" alt="">

        </div>

       
      

    </main>
    
    <script type="module" src="../static/js/footer.mjs"></script> <!-- Script do Footer -->

</body>
</html>