<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec - GoLang</title> <!-- Título da página -->

    <link rel="stylesheet" href="../static/css/tecnologias.css"> <!-- Arquivo CSS correspondente -->

    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"> <!-- Ícone da página -->

</head>

<body>

    <div class="centraliza">
        <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->
    </div>

    <script type="module" src="../static/js/bar.mjs"></script> <!-- Script da aba de tecnologias -->

    <main>

        <img src="../static/images/golang-bg.png" alt="GoLang" class="imgTec" width="250" height="150"> <!-- Imagem da tecnologia -->

        <p>
            Go é uma linguagem de programação criada pela Google e lançada em código livre em novembro de 2009. É uma
            linguagem compilada e focada em produtividade e programação concorrente, baseada em trabalhos feitos no
            sistema operacional chamado Inferno. O projeto inicial da linguagem foi feito em setembro de 2007
            por Robert Griesemer, Rob Pike e Ken Thompson. Atualmente, há implementações para Windows, Linux, Mac OS X e
            FreeBSD.
        </p>

        <h2>- Primeiros Passos</h2>

        <h3>Instalação</h3>

        <p>
            O seu processo de instalação é muito simples. Basta acessar o site oficial da linguagem e baixar o
            instalador correspondente ao seu S.O (Sistema Operacional), após isso independente do S.O que você
            esta utilizando a sua instalação é padrão Windows: next, next e finish.
            <br><br>
            Para verificar se a instalação foi realizada com sucesso podemos abrir algum terminal do Windows (Prompt de
            Comando ou PowerShell) e digitar o seguinte comando:
            <br><br>
            go version
        </p>

        </div>

        <h3>Para que serve o GoLang?</h3>

        <p>

        <ul>

            <li>Desenvolvimento nativo na nuvem: o que facilita a construção de aplicativos;</li>

            <li>Distribuição de serviços em rede: uma série de projetos desenvolvidos nessa linguagem são voltados para
                rede e serviços em nuvem. É o caso das API’s e dos servidores web;</li>

            <li>Ajustes na estrutura: outra serventia dessa linguagem é a de gerar bases de códigos mais limpas.</li>

        </ul>
        </p>

        <h3>Código</h3>

        <img src="/static/images/tecnologia-golang.png" alt="">

    </main>

    <script type="module" src="../static/js/tecnologias.mjs"></script>

</body>

</html>