<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec - Java</title> <!-- Título da página -->

    <link rel="stylesheet" href="../static/css/tecnologias.css"> <!-- Arquivo CSS correspondente -->

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <script type="module" src="../static/js/tecs.mjs" defer></script> <!-- Script das tecs -->

    <main>

        <img src="../static/images/java.png" alt="Java" class="imgTec" width="100" height="100"> <!-- Imagem da tecnologia -->

        <p>
            Java é a base de praticamente todos os tipos de aplicativo em rede e é o padrão global para desenvolvimento e
            fornecimento de aplicativos para celular, jogos, conteúdo on-line e software corporativo (ORACLE, 2012). Foi
            projetada com alguns objetivos como orientação a objetos, portabilidade (pode ser executado em qualquer
            ambiente), recursos de redes (grande quantidade de biblioteca cooperam com os protocolocos de rede),
            segurança e a sintaxe similar a C/C++.
        </p>

        <h2>- Primeiros Passos </h2>

        <h3>Descrição de Java</h3>

        <p>
            A tecnologia Java é formada pela a linguagem de programação e a plataforma. Programação Java é uma linguagem
            de alto nível que tem as características abaixo:
            <br>
            Orientada a Objetos, Distribuída ,Multitread ,Portável ,Alta Perfomance ,Robusta ,Segura 
            <br>
            <br>
            Em Java os códigos-fonte são escritos em arquivos com a extensão .java, que depois são compilados e
            transformados em arquivos .class pelo compilador javac. Esses arquivos contém os bytecodes que serão
            interpretados e executados pela Máquina virtual (JVM).
            A plataforma Java é formada por dois componentes:
            <br>
            <br>
            Java Virtual Machine (JVM): é a máquina virtual java, responsavel em interpretar e executar os programas
            escritos na linguagem java.
            Java Application Programming Interface (API): é uma coleção de componentes de software, agrupada em
            bibliotecas de classes e interfaces que são conhecidas como packages. Elas disponibilizam funções prontas
            para serem usadas pelos programadores.
        </p>

        <h3>Código</h3>

        <img src="/static/images/tecnologia-java.png" alt="">

    </main>

    <script type="module" src="../static/js/tecnologias.mjs"></script> <!-- Script da página de tecnologias -->

</body>

</html>