<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title>

    <link rel="stylesheet" href="../static/css/tecnologias.css">

    <meta name="google-adsense-account" content="ca-pub-8291700047790609">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
     crossorigin="anonymous"></script>

</head>

<body>

    <div class="centraliza">

        <script type="module" src="../static/js/header.mjs" async></script>

    </div>


    <script type="module" src="../static/js/bar.mjs" async></script>

    <div class="centraliza">

        <img src="../static/images/c.png" alt="" class="avatar2" width="100" height="100">

    </div>

    <div class="centraliza textoGo ">

        <p>A linguagem C existe desde antes da internet e foi criada pelo cientista da computação Dennis Ritchie e Ken Thompson, em 1972. O propósito inicial era que fosse uma linguagem usada no desenvolvimento de uma nova versão do sistema operacional Unix, mas hoje é aplicada para criar softwares.
        <br> <br>
        A linguagem C é chamada de linguagem nível intermediária, pois combina os elementos das linguagens de alto nível com o funcionalismo da linguagem nível máquina. Com C é possível ter controle exato de como um programa se comporta e dá acesso direto à partes do hardware, como o espaço na memória do computador.
        </p>

    </div>


    <div class="centraliza textoGo">

        <div class="golang">

            <h2>- Primeiros Passos</h2>

            <div class="centraliza">

                <h3>Instalação</h3>
            
            </div> 
            
            <div class="centraliza">

                <p>
                    Visual Studio (Recomendado):Baixe e instale o Visual Studio Community Edition a partir do site oficial da Microsoft: https://visualstudio.microsoft.com/
                    <br> <br>
                    Você também pode usar o MinGW (Minimalist GNU for Windows) para compilar código C. Baixe o MinGW a partir do site oficial: http://www.mingw.org/
                    Siga as instruções de instalação fornecidas no site.
                </p>

            </div>
                
            <div class="centraliza">

                <h3>Para que serve a linguagem C ?</h3>

            </div>

            <div class="centraliza">

                <p>
                    Com a linguagem C é possível programar microcontroladores - sistemas eletrônico, físico, que se assemelham a um computador muito pequeno capaz de realizar determinadas tarefas de maneira eficaz e sob um tamanho altamente compacto. 
                    <br>
                    A programação em C faz com que o programa ocorra em níveis bem próximos do hardware, tornando a execução dos programas mais eficiente.
                </p>

            </div>


            <div class="centraliza">

                <h3>Código</h3>

            </div>

            <div class= "centraliza tecnologia ">
                <img src="/static/images/tecnologia-c.png" alt="" >
            </div>

        
        </div>
  
    </div>
    
<script type="module" src="../static/js/tecnologias.mjs"></script>

</body>

</html>