<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec - HTML5</title> <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/tecnologias.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <script type="module" src="../static/js/menuDasTecnologias.mjs" defer></script> 

    <main>

        <img src="../static/images/javaSpring.png" alt="C" class="imgTec" width="100" height="100"> <!-- Imagem da tecnologia -->

        <p>
            JavaScript é uma linguagem de programação versátil e fundamental para o desenvolvimento web, permitindo a criação dinâmica e interativa de aplicativos na internet. Com o JavaScript, os desenvolvedores podem ir além de simples páginas estáticas, construindo experiências envolventes e dinâmicas para os usuários.
        </p>
        
        <h2>- Primeiros Passos com JavaScript</h2>
        
        <h3>Por que Utilizar o JavaScript?</h3>
        
        <p>
            O JavaScript é essencial para o desenvolvimento web, proporcionando interatividade e dinamismo às páginas. Ele permite a manipulação do conteúdo em tempo real, resposta a eventos do usuário e a construção de interfaces de usuário reativas. Sua presença é fundamental para a criação de experiências web modernas e ricas.
        </p>
        
        <h3>Diferenças Entre JavaScript e Outras Abordagens</h3>
        
        <p>
            Enquanto o JavaScript se concentra na interatividade e dinamismo das páginas web, outras abordagens podem depender mais fortemente de lógica no lado do servidor. Assim como o HTML forma a base das páginas web, o JavaScript fornece a capacidade de adicionar comportamentos dinâmicos, melhorando a experiência do usuário. Em conjunto com tecnologias como CSS para estilização e frameworks como React ou Vue.js, o JavaScript desempenha um papel fundamental na criação de interfaces web modernas e interativas.
        </p>
        
        
    </main>

    <script type="module" src="../static/js/tecnologias.mjs"></script> <!-- Script da página de tecnologias -->

</body>

</html>