<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec - HTML5</title> <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/tecnologias.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <script type="module" src="../static/js/menuDasTecnologias.mjs" defer></script> 

    <main>

        <img src="../static/images/javaSpring.png" alt="C" class="imgTec" width="100" height="100"> <!-- Imagem da tecnologia -->

        <p>
            MySQL é um sistema de gerenciamento de banco de dados relacional essencial para o desenvolvimento web, possibilitando o armazenamento eficiente e organizado de dados na internet. Com o MySQL, os desenvolvedores podem criar aplicativos robustos que envolvem desde simples páginas estáticas até sistemas complexos, garantindo uma gestão eficaz e confiável dos dados.
        </p>
        
        <h2>- Primeiros Passos com MySQL</h2>
        
        <h3>Por que Utilizar o MySQL?</h3>
        
        <p>
            O MySQL é essencial para o desenvolvimento web, proporcionando um ambiente seguro e escalável para o armazenamento e recuperação de dados. Ele oferece recursos avançados para consultas complexas, transações seguras e é amplamente utilizado em projetos de todos os tamanhos. Sua presença é fundamental para a construção de aplicativos web que exigem persistência e manipulação eficiente de dados.
        </p>
        
        <h3>Diferenças Entre MySQL e Outras Abordagens</h3>
        
        <p>
            Enquanto o MySQL se concentra no armazenamento e recuperação eficiente de dados, outras abordagens podem depender de diferentes tipos de bancos de dados, como NoSQL. Assim como o JavaScript adiciona interatividade às páginas web, o MySQL contribui para a construção de aplicativos web robustos, fornecendo uma base confiável para o gerenciamento de dados. Em conjunto com tecnologias como PHP, Node.js ou Java, o MySQL desempenha um papel fundamental na criação de aplicativos web com funcionalidades avançadas e confiáveis.
        </p>
        
        
        
    </main>

    <script type="module" src="../static/js/tecnologias.mjs"></script> <!-- Script da página de tecnologias -->

</body>

</html>