<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TecTec</title>
    <link rel="stylesheet" href="../static/css/tecnologias.css">

    <meta name="google-adsense-account" content="ca-pub-8291700047790609">

    <script async src="https://pagead2.googlesyndication.com/pagead/js/adsbygoogle.js?client=ca-pub-8291700047790609"
     crossorigin="anonymous"></script>
</head>
<body>

    <div class="centraliza">
        <script type="module" src="../static/js/header.mjs" async></script>
    </div>

    
    <div id="mySidebar">
        <div class="centraliza">
            <h3>Tecnologias:</h3>
        </div>
        <div class="centraliza">
            <img src="/static/images/Go-Logo_Blue.png" width="60px" height="50px">
            <a href="/golang">GoLang</a>
        </div>            
        <div class="centraliza">
            <img src="/static/images/java.png" width="40px" height="50px">
            <a href="/java">Java</a>
        </div>
        <div class="centraliza">
            <img src="/static/images/c.png" width="40px" height="50px">
            <a href="/c">C</a>
        </div>
        <div class="centraliza">
            <img src="/static/images/postgre.png" width="40px" height="50px">
            <a href="postgreSQL">PostgreSQL</a>
        </div>
    </div>

    <div class="centraliza">
        <img src="../static/images/java.png" alt="" class="avatar2">
    </div>

    <div class="centraliza textoGo ">
        <p >Java é a base de praticamente todos os tipos de aplicativo em rede e é o padrão global para desenvolvimento e fornecimento de aplicativos para celular, jogos, conteúdo on-line e software corporativo (ORACLE, 2012). Foi projetada com alguns objetivos como orientação a objetos, portabilidade (pode ser executado em qualquer ambiente), recursos de redes (grande quantidade de biblioteca cooperam com os protocolocos de rede), segurança e a sintaxe similar a C/C++.</p>
    </div>

    <div class="centraliza textoGo">

        <div class="java">

            <h2>Primeiros Passos </h2>

            <div class="centraliza">
                <h3>Tecnologia</h3>
            
            </div> 
            
            <div class="centraliza">
                <p>
                    A tecnologia Java é formada pela a linguagem de programação e a plataforma. Programação Java é uma linguagem de alto ível que tem as características abaixo:
                    <br>Orientada a Objetos,  Distribuída ,Multitread ,Portável ,Alta Perfomance ,Robusta ,Segura <br>

                        Em Java os códigos-fonte são escritos em arquivos com a extensão .java, que depois são compilados e transformados em arquivos .class pelo compilador javac. Esses arquivos contém os bytecodes que serão interpretados e executados pela Máquina virtual (JVM).

                        A plataforma Java é formada por dois componentes:
                        <br>
                        Java Virtual Machine (JVM): é a máquina virtual java, responsavel em interpretar e executar os programas escritos na linguagem java.
                        Java Application Programming Interface (API): é uma coleção de componentes de software, agrupada em bibliotecas de classes e interfaces que são conhecidas como packages. Elas disponibilizam funções prontas para serem usadas pelos programadores.
                </p>

            </div>
                
    
    
            <div class="centraliza">

                <h3>instalação</h3>

            </div>

            <div class="centraliza">
                <p>
                    Outro ponto extremamente importante que é pré-requisito para começar a programar em Java, é instalar em seu computador o Java JDK (Java Development Kit) e o JRE (Java Runtime Environment).
                        <br>
                        Download do JDK- https://www.oracle.com/java/technologies/downloads/#java8

                        <br>
                        Você também deverá instalar uma IDE para escrever seu código Java. Existem várias opções: Eclipse, NetBeans. Escolha o que preferir e faça a instalação.
                </p>
            </div>


            <div class="centraliza">

                <h3>Código</h3>

            </div>

            <div class= "centraliza tecnologia ">
                <img src="/static/images/tecnologia-java.png" alt="" >
            </div>


        
                
            

        </div>
  
    </div>
    
    

    


<script type="module" src="../static/js/tecnologias.mjs"></script>



</body>
</html>