<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec - PostgreSQL</title> <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/tecnologias.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <script type="module" src="../static/js/menuDasTecnologias.mjs" defer></script> 

    <main>

        <img src="../static/images/postgre.png" alt="" class="imgTec" width="100" height="100"> <!-- Imagem da tecnologia -->

        <p>
            O PostgreSQL é uma ferramenta que atua como sistema de gerenciamento de bancos de dados relacionados.
            Seu foco é permitir implementação da linguagem SQL em estruturas, garantindo um trabalho com os padrões
            desse tipo de ordenação dos dados.
        </p>

        <h2>- Primeiros Passos</h2>

        <h3>Para que serve o PostgreSQL?</h3>

        <p>
            O PostgreSQL tem o papel de gerenciar os dados desses bancos de maneira organizada e eficaz, rodando e
            gravando todas as informações que ficam registradas nesses compartimentos. Por meio desse sistema, usuários
            podem executar consultas de maneira simples, sem precisar acessar diretamente o banco de dados.
            <br> 
            <br>
            Assim, há sempre um processo mais simples, seguro e ágil, fazendo com que apenas o servidor faça essa
            consulta direta à origem dos conteúdos, ou seja, o banco de dados em si. De modo geral, o PostgreSQL é um
            verdadeiro organizador de todas as informações, funcionando também como uma plataforma de rápido acesso para
            consultas e configurações.
        </p>

        <h3>Código</h3>

        <img src="/static/images/tecnologia-postgresql.png" alt="Código PostgreSQL"> <!-- Imagem do código -->

    </main>

    <script type="module" src="../static/js/tecnologias.mjs"></script> <!-- Script da página de tecnologias -->

</body>

</html>