<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title> <!-- Título da página -->

    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"> <!-- Ícone da página -->

    <link rel="stylesheet" href="../static/css/tecnologias.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <script type="module" src="../static/js/bar.mjs"></script> <!-- Script da aba de tecnologias -->

    <main>

        <img src="../static/images/html.png" alt="C" class="imgTec" width="100" height="100"> <!-- Imagem da tecnologia -->

        <p>
            TypeScript foi criado com o objetivo de incluir recursos que não estão presentes no JS. Por meio dele é possível definir a tipagem estática, parâmetros e retorno de funções.

            Além de ser uma ferramenta orientada a objetos, fortemente tipada e que pode ser escrita em qualquer ambiente de desenvolvimento, o TypeScript quando instalado via gerenciador de pacotes JS, permite checar erros e utilizar outros compiladores que suportam este mecanismo.
        </p>

        <h2>- Primeiros Passos</h2>

        <h3>Por que utilizar o Typescript ?</h3>

        <p>
            TypeScript adiciona recursos úteis à linguagem JavaScript, como tipagem estática, interfaces, classes, herança, módulos e suporte para recursos modernos do JavaScript, como async/await. A tipagem estática ajuda a prevenir erros comuns em tempo de execução, permitindo que os desenvolvedores detectem e corrijam erros de digitação e de tipo durante a fase de desenvolvimento. As interfaces fornecem uma maneira de descrever a forma esperada de um objeto, tornando o código mais previsível e fácil de entender. As classes e a herança permitem que os desenvolvedores criem objetos complexos e organizem seu código de forma mais eficiente. Os módulos permitem que os desenvolvedores dividam seu código em arquivos menores e mais gerenciáveis. Em resumo, o TypeScript ajuda os desenvolvedores a escrever código mais seguro, previsível e fácil de manter.
        </p>

        <h3>Diferença entre Typescript e Javascript</h3>

        <img src="/static/images/docker-configuracao.png" alt="">

        <p>
            Embora o TypeScript seja uma “extensão” mais completa do JavaScript, há diferenças entre eles. A primeira delas é que no TypeScript existe uma tipagem estática e, no JavaScript, uma linguagem dinâmica. 

            Outra diferença entre eles é que o TypeScript possui um funcionamento voltado a orientação de objetos, já no JS há uma programação estruturada na linguagem. Além disso, o Typescript é uma linguagem compilada e que transpila para Javascript.
        </p>

    </main>

    <script type="module" src="../static/js/tecnologias.mjs"></script> <!-- Script da página de tecnologias -->

</body>

</html>