<!DOCTYPE html>

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec</title> <!-- Título da página -->

    <link rel="icon" href="../static/images/logo.ico" type="image/x-icon"> <!-- Ícone da página -->

    <link rel="stylesheet" href="../static/css/tecnologias.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <script type="module" src="../static/js/bar.mjs"></script> <!-- Script da aba de tecnologias -->

    <main>

        <img src="../static/images/css.png" alt="C" class="imgTec" width="100" height="100"> <!-- Imagem da tecnologia -->

        <p>
            CSS é chamado de linguagem Cascading Style Sheet e é usado para estilizar elementos escritos em uma linguagem de marcação como HTML. O CSS separa o conteúdo da representação visual do site. Pense  na decoração da sua página. Utilizando o CSS é possível alterar a cor do texto e do fundo, fonte e espaçamento entre parágrafos. Também pode criar tabelas, usar variações de layouts, ajustar imagens para suas respectivas telas e assim por diante.
            <br><br>
            CSS foi desenvolvido pelo W3C (World Wide Web Consortium) em 1996, por uma razão bem simples. O HTML não foi projetado para ter tags que ajudariam a formatar a página. Você deveria apenas escrever a marcação para o site. 
        </p>

        <h2>- Primeiros Passos</h2>

        <h3>Elementos básicos</h3>

        <p>
            Elementos Básicos do CSS 
            <br><br>
            1. Tags HTML
            2. Classes CSS

            <br>
        
        </p>

        <h3>Como integrar o CSS no HTML?</h3>

        <p>
            Após salvar como estilo.css precisamos colocar o arquivo em nosso arquivo HTML, porque é ele quem vai carregar o CSS, o CSS sozinho não faz site! E é com tags de referência que você avisa ao HTML que existe um arquivo de estilo para ele, veja:
            <br><br>
            <img src="../static/images/css-html.png" alt="" >
            <br><br>
            Esta tag vai indicar ao HTML que tem um arquivo CSS para ser adicionado à  página. Isto deve ser adicionado dentro da tag <head> </head> do seu HTML
        </p>

        <h3>Diferença entre Typescript e Javascript</h3>

        <img src="/static/images/docker-configuracao.png" alt="">

        <p>
            Embora o TypeScript seja uma “extensão” mais completa do JavaScript, há diferenças entre eles. A primeira delas é que no TypeScript existe uma tipagem estática e, no JavaScript, uma linguagem dinâmica. 

            Outra diferença entre eles é que o TypeScript possui um funcionamento voltado a orientação de objetos, já no JS há uma programação estruturada na linguagem. Além disso, o Typescript é uma linguagem compilada e que transpila para Javascript.
        </p>

    </main>

    <script type="module" src="../static/js/tecnologias.mjs"></script> <!-- Script da página de tecnologias -->

</body>

</html>