<!DOCTYPE html> <!-- Tipo de arquivo -->

<html lang="pt-br">

<head>

    <meta charset="UTF-8">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>TecTec - HTML5</title> <!-- Título da página -->

    <link rel="icon" href="..\static\images\logo.png" type="image/x-icon"> <!-- Ícone da Página -->

    <link rel="stylesheet" href="../static/css/tecnologias.css"> <!-- Arquivo CSS correspondente -->

</head>

<body>

    <script type="module" src="../static/js/header.mjs"></script> <!-- Inserção do header na página -->

    <script type="module" src="../static/js/tecs.mjs" defer></script> <!-- Script das tecs -->

    <main>

        <img src="../static/images/html.png" alt="C" class="imgTec" width="100" height="100"> <!-- Imagem da tecnologia -->

        <p>
            HTML (Hypertext Markup Language) é a linguagem de marcação fundamental para a construção de páginas da web. Ele fornece a estrutura e os elementos necessários para organizar e apresentar informações na internet. Com o HTML, os desenvolvedores podem criar conteúdo textual, imagens, links, formulários e muitos outros elementos que compõem as páginas da web.
        </p>
        
        <h2>- Primeiros Passos com HTML</h2>
        
        <h3>Por que Utilizar o HTML ?</h3>
        
        <p>
            O HTML é essencial para a criação de páginas da web. Ele define a estrutura do conteúdo, permitindo a formatação e a organização de textos e mídia. Além disso, o HTML possibilita a criação de hiperlinks para navegação entre diferentes páginas. É uma linguagem de marcação simples, mas poderosa, que forma a base da maioria dos sites na internet.
        </p>
        
        <h3>Diferenças Entre HTML e Outras Linguagens</h3>
        
        <p>
            Enquanto o HTML se concentra na marcação e estruturação do conteúdo da web, outras linguagens, como CSS e JavaScript, são usadas para estilizar e adicionar interatividade às páginas. O HTML é uma linguagem de marcação estática, enquanto o JavaScript permite a criação de comportamentos dinâmicos nas páginas. Além disso, o CSS é usado para controlar o layout e o estilo visual das páginas web. Juntas, essas tecnologias desempenham um papel fundamental na criação de experiências web ricas e interativas.
        </p>
        
    </main>

    <script type="module" src="../static/js/tecnologias.mjs"></script> <!-- Script da página de tecnologias -->

</body>

</html>