/*Definindo configurações para a barraLateral*/
#barraLateral {

    font-family: monospace; /*Definindo fonte do texto*/

    position: fixed; /*Definindo que a barraLateral deve ser fixada*/

    top: 0; /*Definindo posição da barra em relação ao topo*/

    right: -20vw; /*Definindo posição da barra em relação a lateral esquerda*/

    background-color: #000000; /*Definindo cor de fundo*/

    overflow: hidden; /*Ocultando conteúdo*/

    transition: right 0.5s; /*Definindo tem de transição*/

    width: 20vw; /*Definindo comprimento*/

}

/*Definindo configurações para tag <a> barraLateral*/
#barraLateral a {

    margin: 8px 10px 10px 10px; /*Definindo margens*/

    text-decoration: none; /*Retirando decoração da tag a */

    font-size: 15px; /*Definindo tamanho da fonte*/

    color: #ffffff; /*Definindo cor*/

    display: block; /* O elemento ocupa toda a largura do conteiner*/

}

/*Definindo configurações para elementos na barraLateral*/
#barraLateral .centraliza{

    width: 100%;  /*Definindo comprimento*/

    align-items: center; /*Centralizar items verticalmente no contêiner*/

}

/*Definindo configurações para elementos na barraLateral*/
#barraLateral .centraliza {

    flex-direction: column;/*Elementos flexíveis são dispostos verticalmente*/
    
    color: #00891E;  /*Definindo cor*/

}

/*Definindo configurações para classe golang da barraLateral*/
#barraLateral .golang:hover {

    background-color: #007acc;/*Definindo cor de fundo*/

    color: #fff;  /*Definindo cor*/

}

/*Definindo configurações para classe java barraLateral*/
.java:hover {

    background-color: red;/*Definindo cor de fundo*/

}

/*Definindo configurações para classe c barraLateral*/
.c:hover {

    background-color: blue;/*Definindo cor de fundo*/

}

/*Definindo configurações para classe postgresql barraLateral*/
.postgresql:hover {

    background-color: #1E90FF;/*Definindo cor de fundo*/

}

/*Definindo configurações para classe typescript e docker barraLateral*/
.docker:hover, .typescript:hover {

    background-color: #4169E1;/*Definindo cor de fundo*/

}

/*Definindo configurações para classe hadoop barraLateral*/
.hadoop:hover {

    background-color: yellow; /*Definindo cor de fundo*/

}
/*Definindo configurações para classe hadoop e html5 barraLateral*/
.hadoop a:hover, .html5 a:hover {

    color: black;  /*Definindo cor*/

}

/*Definindo configurações para classe html barraLateral*/
.html5:hover {

    background-color: orange; /*Definindo cor de fundo*/

}

/*Definindo configurações para classe css3 barraLateral*/
.css3:hover {

    background-color: blue;  /*Definindo cor de fundo*/

    color: black; /*Definindo cor*/

}

@media screen and (max-device-width: 768px) {
    
    #barraLateral {

        font-family: monospace; /*Definindo fonte do texto*/
    
        position: fixed; /*Definindo que a barraLateral deve ser fixada*/
    
        top: 0; /*Definindo posição da barra em relação ao topo*/
    
        right: -30vw; /*Definindo posição da barra em relação a lateral esquerda*/
    
        background-color: #000000; /*Definindo cor de fundo*/
    
        overflow: hidden; /*Ocultando conteúdo*/
    
        transition: right 0.5s; /*Definindo tem de transição*/
    
        width: 30vw; /*Definindo comprimento*/
    
    }
    
}