@import url('./global.css');

body {
  justify-content: center;
  display: flex;
  align-items: center;
  height: 95vh;
}

#logo {
  animation: queda-e-giro 0.8s linear;
  height: 100px;
  width: 100px;
}