/*Importando css global*/
@import url('./global.css');

body {

  justify-content: center; /*Centralizar items horizontalmente no contêiner*/

  display: flex; /*Dando flexibilidade para o conteúdo*/
  
  align-items: center; /*Centralizar items verticalmente no contêiner*/
  
  height: 100vh; /*Definindo altura*/
  
}

#logo {
  
  animation: queda-e-giro 0.8s linear; /*Especificações da animação, ação, tempo , repetição*/
  
}