@import url('./global.css');

#postagem-principal{
    margin-top: 2%;
    padding: 10px;
}

.postagem-comentario textarea {
    width: 43vw;
    border-radius: 10px;
    border: 3px solid #00891E;
    height: 15vh;
    font-size: px;
    background-color: #000;
    color: white;
    margin-top: 3vw;
    font-family: 'KronaOne';
}

.botao{
    background-color: #00891E;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    font-family: 'KronaOne';
    margin-bottom: 3vw;

}

.botao:hover{
    background-color: white;
    color: #00891E;
    font-family: 'KronaOne';
}

.cartaoComen {
    border: 3px solid rgb(255, 255, 255);
    border-radius: 15px;
    margin: 1vh;
    color: #ffffff;
    font-family: 'KronaOne';
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    width: 80vh;
}

@media screen and (max-device-width: 768px) {
    #logo {
        width: 35px;
        height: 32px;
        margin: 5px;
    }

    .navigation_header img {
        width: 3vw;
        height: 2vh;
    }

    .centraliza .navigation_header{
        position: absolute;
        position: fixed;
    }

    #nome {
        color: #00891E;
        font-family: 'KronaOne';
        font-size: 10px;
        margin: 0;
    }   

    .cartaoComen {
        width: 60vw;
        font-size: 8px;
    }

}