@import url('./global.css');

#postagem-principal{
    margin-top: 10vh;
}

textarea{
    width: 30vw;
    border-radius: 10px;
    border: 3px solid #00891E;
    height: 9vh;
    background-color: #000;
    color: white;
    position: fixed;
    bottom: 10vh;
    font-size: 16px;
}

.botao{
    background-color: #00891E;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    color: white;
    margin-bottom: 3vh;
    font-family: monospace;
    bottom: 0;
    position: fixed;
    border: 2px solid white;
    font-weight: bold;
}

.botao:hover{
    background-color: white;
    color: #00891E;
}

.cartaoComen {
    border: 5px solid rgb(255, 255, 255);
    color: #ffffff;
    padding: 25px;
    flex-direction: column;
    width: 65vh;
    background-color: #000;
    font-size: 15px;
    font-weight: bold;
    border-radius: 15px 0 15px 0 ;
    margin: 10px;
}

#inputComentario{
    font-size: 15px;
    font-weight: bold;
}