#feed {

    display: flex; /* Dando flexibilidade para div. */

    flex-direction: column; /* Deixando o feed como forma de coluna */

    border-right: 3px solid #333; /* Definindo a espressura, tipo e cor da borda */

    border-left: 3px solid #333; /* Definindo a espressura, tipo e cor da borda */
 
}

.postagem {

    color: #ffffff;

    padding: 50px 25px; 

    width: 50vw; 

    background-color: #000; 

    word-break: break-all;

    border-top: 1px solid #333;

    font-size: 17px;

    font-weight: bold;
    
}

.postagem img{

    padding: 10px;

    margin: 2px;

}

.postagem img:hover{

    border-radius: 15px;

    background-color: #333;

}

.centralizaOpcoesPostagem {

    display: flex;

}

@media screen and (max-device-width: 768px) {

    #feed{

        margin-bottom: 15vh;

    }

    .postagem {

        width: 35vh; /* Definindo o comprimento da postagem */
    
        border-top: 1px solid #333;
     
    }

}