/*Configurando o footer*/
footer {

    font-family: monospace;

    position: fixed;

    bottom: 0;

    width: 100%;

    background-color: black;

    border-top: 2px solid #ffffff;

    margin-top: 5vh;

}

/*Configurando texto do footer*/
footer p {

    color: #00891E;/*Definindo cor*/

    font-size: 15px;/*Definindo cor*/

    font-weight: bold;/*Definindo a espessura*/

    margin: 10px;/*Definindo margens*/

}

/* Configurando para telas menores */
@media screen and (max-device-width: 768px) {

    footer {
    
        position: fixed; /* Alterando para posição relativa */

        bottom: 0;
    
    }

}
