/*Corpo das páginas*/

body {
    background-color: #000;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    font-family: monospace;
    line-height: 1.6;
    margin: 0;
}

/*////////////////////////*/

/* Cabeçalho */

header {
    background-color: #000;
    width: 100%;
    border-bottom: 2px solid #00891E;
    border-left: 2px solid #00891E;
    border-right: 2px solid #00891E;
    border-radius: 0 0 15px 15px;
    justify-content: center;
    display: flex;
    position: fixed;
    top: 0;
}

header img {
    width: 23px;
    height: 23px;
    margin: 15px 30px;
}

/*////////////////////////*/

/* Div que centraliza um conteúdo */

.centraliza {
    display: flex;
    justify-content: center;
}

/*////////////////////////*/

/* Feed das páginas */

#carrosel {
    display: flex;
    flex-direction: column;
    margin-top: 15vh;
    margin-bottom: 6vh;
}

.cartao {
    border: 2px solid green;
    border-radius: 15px;
    margin-bottom: 40px;
    color: #00891E;
    padding: 25px;
    flex-direction: column;
    width: 60vh;
    background-color: #000;
    font-size: 18px;
    font-weight: bold;
}

/*////////////////////////*/

textarea {
    resize: none;
}

.texto {
    word-break: break-all;
}

/* Barra de Tecnologias  */
#mySidebar {
    font-family: monospace;
    width: 0;
    position: fixed;
    top: 0;
    right: -250px;
    background-color: #000000;
    overflow: hidden;
    transition: right 0.5s;
}

#mySidebar a {
    margin: 8px 10px 10px 10px;
    text-decoration: none;
    font-size: 15px;
    color: #ffffff;
    display: block;
}

img[src="/static/images/golang.jpg"] {
    border-radius: 10px;
}


#mySidebar .centraliza,
#mySidebar .golang,
#mySidebar .java,
#mySidebar .c,
#mySidebar .postgresql,
#mySidebar .docker,
#mySidebar .typescript,
#mySidebar .hadoop,
#mySidebar .html5,
#mySidebar .css3 {
    width: 100%;
    align-items: center;
}

#mySidebar .centraliza {
    flex-direction: column;
    color: #00891E;
}

#mySidebar .golang:hover {
    background-color: #007acc;
    color: #fff;
}

#mySidebar .java:hover {
    background-color: red;
}

#mySidebar .c:hover {
    background-color: blue;
}

#mySidebar .postgresql:hover {
    background-color: #1E90FF;
}

#mySidebar .docker:hover,
#mySidebar .typescript:hover {
    background-color: #4169E1;
}

#mySidebar .hadoop:hover {
    background-color: yellow;
}

#mySidebar .hadoop a:hover,
#mySidebar .html5 a:hover {
    color: black;
}


#mySidebar .html5:hover {
    background-color: orange;
}

#mySidebar .css3:hover {
    background-color: blue;
    color: black;
}


/*////////////////////////////////*/

/*  Footer */
footer {
    font-family: monospace;
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    border-top: 2px solid #00891E;
    margin-top: 5vh;
}

footer p {
    color: #00891E;
    font-size: 15px;
    font-weight: bold;
}

/*////////////////////////*/


/* Carregamento */
#loading {
    display: none;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: girar 0.8s infinite;
}

/*////////////////////////*/

/* Animações */

@keyframes queda-e-giro {
    0% {
        transform: translateY(-50px) rotate(0deg);
    }

    100% {
        transform: translateY(0px) rotate(360deg);
    }
}

/* Para a logo girar na página*/
@keyframes girar {

    0%,
    100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg);
    }

    100% {
        transform: rotate(360deg);
    }

}

/*////////////////////////*/

/*Configurando para tela menor de 768px */
@media screen and (max-device-width: 768px) {

    header {
        width: 100%;
    }

    #logo {
        width: 40px;
        height: 40px;
        margin: 5px;
    }


    .cartao,
    .cartaoComen,
    #inputComentario {
        width: 80vw;
        font-size: 12px;
    }

    #carrosel {
        display: flex;
        flex-direction: column;
        margin-bottom: 15vh;

    }

    #mySidebar a {
        top: 50%;
        font-size: 10px;
        color: #fff;
    }

    #mySidebar .centraliza h3 {
        padding-top: 50px;
    }

    h3 {
        font-size: 10px;
    }

    header img {
        width: 20px;
        height: 20px;
        margin: 15px;
    }


}

/*////////////////////////////////////*/