body {

    background-color: rgb(14, 14, 14);

    font-family: monospace, sans-serif; 

    line-height: 1.6; 

    margin: 0; 

}

main{
    
    display: flex;
    
    flex-direction: column;
    
    align-items: center;

}

form {

    padding: 30px; 

    border: 3px solid #333; 

    border-radius: 5px; 

    display: flex; 

    flex-direction: column; 
    
}

textarea{

    resize: none;

}

.centraliza {

    display: flex; 

    justify-content: center; 

}

/* HEADER */

header {

    display: flex;

    align-items: center;

    flex-direction: column;

    height: 100vh;

    background-color: #000000;

    color: white;

    position: fixed;

    top: 0;

    left: 0;

    border-right: 2px solid #00891E;

    width: 10vw;

}

header img{

    margin: 1vh 1vw;

}

header #logo{

    animation: girar 1s infinite; 

}

header .opcao{

    padding: 10px;

}

header .opcao:hover {

    background-color: #333;

    border-radius: 10px;

    cursor: pointer; 
 
}

header .opcao:active {

    background-color: #121212;

    border-radius: 10px;

    cursor: pointer; 
 
}

header #busca{

    display: none;

}

@keyframes queda-e-giro {

    0% {

        transform: translateY(-50px) rotate(0deg);    /* Translação vertical de -50px e rotação de 0 graus*/

    }

    100% {

        transform: translateY(0px) rotate(360deg); /* Translação vertical de -0px e rotação de 360 graus*/

    }

}

@keyframes girar {

    0% {

        transform: rotate(0deg); /* Rotação de 0 graus*/

    }

    50% {

        transform: rotate(180deg); /* Rotação de 180 graus*/

    }

    100% {

        transform: rotate(360deg); /* Rotação de 360 graus*/
        
    }

}

@media screen and (max-device-width: 768px) {

    header{

        width: 100vw;

        position: fixed;

        height: 10vh;

        top: auto;

        bottom: 0;

        border-top: 2px solid #00891E;

        flex-direction: row;

    }

    header .logoComOpcao p {
        
        display: none;
    }

    header #logo{

        display: none;
    }

    header #logoNome{

        display: none;
    }

    header .opcao {

        cursor: pointer;
    
        padding: 0 20px;

        margin-top: 25px;
        
    }

    header #busca{

        display: block;
    
    }

}