/* Corpo de todas as págs.*/
body {

    background-color: rgb(14, 14, 14);

    font-family: monospace, sans-serif; /* Definindo a fonte que será usada no site todo. */

    line-height: 1.6; /* Definindo o espaçamento entre as linhas de um paragráfo. */

    margin: 0; /* Zerando a margin padrão do body. */

}

main{
    
    display: flex;
    
    flex-direction: column;
    
    align-items: center;

}

form {

    padding: 30px; /* Definindo espaço de preenchimento ao redor do conteúdo */

    border: 3px solid #333; /* Definindo tamanho, espessura e cor da borda */

    border-radius: 5px; /* Arredondar os cantos da borda */

    display: flex; /* Dando flexibilidade para o conteúdo */

    flex-direction: column; /* Elementos flexíveis são dispostos verticalmente */
    
}

textarea{

    resize: none;

}

.centraliza {

    display: flex; /* Dando flexibilidade para div. */

    justify-content: center; /* Deixando a centralização de forma horizontal. */

}

@keyframes queda-e-giro {

    0% {

        transform: translateY(-50px) rotate(0deg);    /* Translação vertical de -50px e rotação de 0 graus*/

    }

    100% {

        transform: translateY(0px) rotate(360deg); /* Translação vertical de -0px e rotação de 360 graus*/

    }

}

@keyframes girar {

    0% {

        transform: rotate(0deg); /* Rotação de 0 graus*/

    }

    50% {

        transform: rotate(180deg); /* Rotação de 180 graus*/

    }

    100% {

        transform: rotate(360deg); /* Rotação de 360 graus*/
        
    }

}