header {

    background-color: #000; /* Definindo a cor do header */

    width: 350px; /* Definindo o comprimento do header */

    padding: 0px 25px; /* Definindo o padding do header */

    border-bottom: 3px solid #00891E; /* Definindo a cor, espressura e tipo da borda de baixo do header */

    border-left: 3px solid #00891E; /* Definindo a cor, espressura e tipo da borda esquerda do header */

    border-right: 3px solid #00891E; /* Definindo a cor, espressura e tipo da borda direita do header */

    border-radius: 0 0 15px 15px; /* Definindo o grau de borda que será aplicada no header */

    display: flex; /* Dando flexibilidade ao header */

    position: fixed; /*Definindo posição fixa para o header*/

    top: 0;/*Definindo a posição superior do header*/

}

/*Definindo configurações da imagem do header*/
header img {

    cursor: pointer;/*Definindo tipo de cursor*/

    margin: 10px 10px 0px 10px;/*Definindo margens*/

}

/*Definindo configurações da logo*/
header #logo{

    border-radius: 15px;/*Definindo arrendodamento da borda*/

    animation: girar 2s infinite;/*Definindo configurações da animação*/

    padding-bottom: 5px;/*Definindo espaçamento inferior ao redor dos componentes*/

    margin: 10px 10px;/*Definindo margens*/


}

/*Definindo configurações das imagens do header */
header #busca, header #pesquisar{

    margin-top: 15px;/*Definindo margem superior*/

}
