header {

    height: 100%;

    background-color: #000000;

    color: white;

    position: fixed;

    top: 0;

    left: 0;

    overflow: hidden;

    border-right: 2px solid #00891E;

}

header img{

    margin: 2vh 1vw;

    padding: 10px;

}

header .opcao {

    cursor: pointer; 

}

header .opcao:hover {

    background-color: #333;

    border-radius: 10px;
 
}


#logo{

    animation: girar 3s infinite; /*Definindo configurações da animação*/

}

header .centraliza{

    flex-direction: column;

}

/*Definindo configurações para telas menores*/
@media screen and (max-device-width: 768px) {

    header{

        width: 95px;

        background-color: #000;

        z-index: 1;

    }

    header #logo{
        width: 35px;

        height: 35px;
    }

    header .opcao {

        cursor: pointer; /*Definindo tipo de cursor*/
    
        margin: 2vh 0.5vw;
        
    }

    header .imgTitulo p{

        display: none;

    }

    #alternarBotaoHeader{

        display: block;

        margin-top: 10px;

    }

    
}