@import url('./global.css');

#nome {
    color: #00891E;
    font-family: 'KronaOne';
    font-size: 10px;
    margin: 0;
}

#titulo {
    color: #00891E;
    font-size: 20px;
}

#adicionar-amigos {
    background-color: black;
    width: 15vw;
    height: 30vh;
    padding: 20px;
    border-radius: 0 0px 10px 10px;
    border: 3px solid #00891E;
    margin-top: 5vh;
}

.sugestao-amizade {
    background-color: #000000;
    border: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 3px;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #00891E;
}

.sugestao-amizade span {
    font-weight: bold;
    color: #00891E;
}

.sugestao-amizade button {
    background-color: #00891E;
    color: #fff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
    font-family: 'KronaOne';
}

.sugestao-amizade button:hover {
    background-color: #00590C;
    font-family: 'KronaOne';
}

.titleSugestao{
    color: #00891E;
    margin-bottom: 1vh;
    font-size: 12px;
}

#listaUsuarios {
    list-style-type: none; /* Remove os marcadores de lista */
    padding: 0; /* Remove o padding */
    margin: 0; /* Remove a margem */
}

#listaUsuarios li {
    padding: 10px; /* Adiciona um pouco de espaço ao redor do texto */
    border-bottom: 1px solid #ddd; /* Adiciona uma linha entre cada item da lista */
}

#listaUsuarios li:last-child {
    border-bottom: none; /* Remove a linha do último item da lista */
}



@media screen and (max-device-width: 768px) {


    #nome {
        color: #00891E;
        font-family: 'KronaOne';
        font-size: 10px;
        margin: 0;
    }

    #adicionar-amigos {
        margin-top: 3vh;
        width: 60vw;
        height: 25vh;

    }


}