@font-face {
    font-family: 'KronaOne';
    src: url('../fonts/KronaOne-Regular.ttf');
    font-weight: normal;
}

body {
    background-color: #000;
    margin: 0;
}

header {
    background-color: #000;
    border: 6px solid #00891E;
    position: fixed;
    width: 100%;
    height: 6.5vw;
}

.navigation_header img {
    width: 1vw;
    padding: 0.5vw;
    margin: 20px;
}

#logo {
    width: 50px;
    height: 45px;
    margin: 0;
}

#tecnologias,
#pesquisa {
    margin-left: 6vw;
}

#sino,
#perfil {
    margin-right: 6vw;
}

.user {
    margin: 0.5vw;
}

#nome {
    color: #00891E;
    font-family: 'KronaOne';
    font-size: 15px;
    margin: 0;
}



.navigation_header a {
    text-decoration: none;
    color: #FFF5E1;
    margin-top: 5px;
    justify-content: center;
}

.overlay {
    position: fixed;
    top: 0;
    right: 0;
    width: 300px;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    color: white;
    padding: 20px;
    transform: translateX(100%);
    transition: transform 0.3s ease-in-out;
}

.overlay.active {
    transform: translateX(0);
}


.close-button {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
}

ul li.item-menu:hover {
    background: #00891E;
}

ul {
    text-decoration: none;
    height: 100%;
    list-style-type: none;
}

.button_add_post {
    font-family: 'KronaOne';
    background-color: #00891E;
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 10px;
    position: fixed;
    bottom: 20px;
    width: 60px;
    height: 60px;
    font-size: 30px;
}


.button_add_post:hover {
    font-family: 'KronaOne';
    background-color: #fff;
    color: #00891E;
}

.cartao {
    width: 40vw;
    height: 25vh;
    border: 3px solid green;
    border-radius: 15px;
    margin: 1vh;
    color: #00891E;
    font-family: 'KronaOne';
    padding: 25px;
}

.centraliza {
    display: flex;
    justify-content: center;
}

#carrosel {
    display: flex;
    flex-direction: column;
    margin-top: 14vh;
}

.nameWhite {
    color: white;
}

@media screen and (max-device-width: 768px) {
    #logo {
        width: 50px;
        height: 47px;
        padding: 0;
    }

    header {
        height: 28vw;
    }

    .navigation_header img {
        width: 4vw;
        padding: 3vw;

    }

    #nome {
        color: #00891E;
        font-family: 'KronaOne';
        font-size: 10px;
        margin: 0;
    }   

    .cartao {
        width: 78vw;
        margin-top: 2vh;
    }

    .user {
        margin: 0 0.5vw;
    }
}