@import url('./global.css');

.inputBox {
    display: flex;
    justify-content: center;
}

.inputText {
    background-color: black;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 4px;
    font-size: 20px;
    margin: 10px;
    font-family: monospace;

}

form {
    padding: 25px;
    border: 3px solid rgb(255, 255, 255);
    width: 15vw;
    margin: 0 auto 20px auto;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnContainer {
    display: flex;
    justify-content: center;
}

#entrar,
#cadastro {
    background-color: #00891E;
    font-size: 15px;
    color: white;
    padding: 13px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    border: none;
    font-family: monospace;
    border: 2px solid white;
    width: 6vw;
    font-weight: bold;
}

#entrar:hover,
#cadastro:hover {
    background-color: aliceblue;
    color: #00891E;
    font-family: monospace;

}

.rotUsuario,
.rotSenha {
    color: #ffffff;
    margin: 25px;
    font-weight: bold;
    font-size: 16px;
}

#logo {
    width: 90px;
    height: 90px;
    margin-bottom: 3vh;
    margin-top: 10vh;
    border-radius: 15px;
}

#logoNome {
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

@keyframes mover-lado-a-lado {
    0% {
        transform: translateX(-100px);
    }

    50% {
        transform: translateX(110px); /* Ajuste a distância desejada */
    }

    100% {
        transform: translateX(-110px);
    }
}

#logo {
    animation: mover-lado-a-lado 1s linear infinite;
}



@media screen and (max-device-width: 768px) {

    #logo {
        width: 80px;
        height: 80px;
    }

    form {
        width: 80%;
    }

    .inputText {
        width: 75vw;
    }

    .cartaoDev {
        width: 80%;
    }
}