@import url('./global.css');

.inputBox {
    display: flex;
    justify-content: center;
}

.inputText {
    background-color: black;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 4px;
    font-size: 20px;
    margin: 10px;
    font-family: monospace;
    width: 12vw;

}

form {
    padding: 25px;
    border: 3px solid rgb(255, 255, 255);
    width: 15vw;
    height: 25vw;
    margin: 0 auto 30px auto;
    border-radius: 15px;
    background-color: black;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.btnContainer {
    display: flex;
    justify-content: center;
}

#entrar,
#cadastro {
    transition: transform 1s ease; /* Transição suave da transformação */
    background-color: #00891E;
    font-size: 15px;
    color: white;
    padding: 13px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 35px;
    border: none;
    font-family: monospace;
    border: 2px solid white;
    width: 5vw;
    font-weight: bold;
}

#entrar:hover,
#cadastro:hover {
    background-color: aliceblue;
    color: #00891E;
    font-family: monospace;

}

.rotUsuario,
.rotSenha {
    color: #ffffff;
    margin: 25px;
    font-weight: bold;
    font-size: 16px;
}

#logo {
    width: 90px;
    height: 90px;
    margin-bottom: 3vh;
    margin-top: 5vh;
    border-radius: 15px;
}

#logoNome {
    border-radius: 10px;
    width: 80px;
    height: 80px;
}

@keyframes girar {
    0%, 100% {
        transform: rotate(0deg);
    }

    50% {
        transform: rotate(180deg); 
    }

    100% {
        transform: rotate(360deg);
    }

}

#logo {

    animation: girar 1.5s infinite;

}

@media screen and (max-device-width: 768px) {

    #logo {
        width: 80px;
        height: 80px;
    }

    form {
        width: 80%;
    }

    .inputText {
        width: 75vw;
    }

    .cartaoDev {
        width: 80%;
    }
}