#menuDasTecnologias{

    flex-direction: column;

    align-items: center;

    justify-content: center;

    position: fixed;

    top: 0;

    left: 0;

    right: 0;

    bottom: 0;

    margin: auto;

    height: 80vh;

    background-color: #000;

    font-size: 15px;

    border: 2px solid #00891E;

    width: 20vw;

    border-radius: 10px;

    display: none;

}

#menuDasTecnologias h3{

    color: #00891E;

}

#menuDasTecnologias a {

    width: 100%;

    margin: 8px 0; 

    text-decoration: none; 

    color: #ffffff; 

    text-align: center;

    font-size: 16px;

}

a[href="/golang"]:hover {

    background-color: #007acc;/*Definindo cor de fundo*/

    color: #fff;  /*Definindo cor*/

}

a[href="/java"]:hover {

    background-color: red;

}

a[href="/c"]:hover {

    background-color: blue;/*Definindo cor de fundo*/

}

a[href="/postgreSQL"]:hover {

    background-color: #1E90FF;/*Definindo cor de fundo*/

}

a[href="/docker"]:hover, a[href="/typescript"]:hover  {

    background-color: #4169E1;/*Definindo cor de fundo*/

}

a[href="/hadoop"]:hover {

    background-color: rgb(179, 179, 0);

}

a[href="/html"]:hover {

    background-color: orange; 

}

a[href="/css"]:hover {

    background-color: blue; 

}

a[href="/css"]:hover, a[href="/hadoop"]:hover {

    color: black;

}

a[href="/javaSpring"]:hover{

    background-color: green; 

}


a[href="/javascript"]:hover{

    background-color: yellow;

}

a[href="/github"]:hover{

    background-color: rgb(162, 0, 255);

}

a[href="/mysql"]:hover{

    background-color: #4169E1;

}


a[href="/r"]:hover{

    background-color: #4169E1;

}

a[href="/noSQL"]:hover{

    background-color: #4169E1;

}



