@import url('./global.css');
@import url('./header.css');
@import url('./feed.css');
@import url('./bar.css');


main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#perfil-usuario{
    margin-top: 100px;
}
