@import url('./global.css');

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#perfil-usuario{
    margin-top: 10vh;
}

#carrosel{
    margin-top: 5vh;
}

/*Ajustando conteudo para tela menor que 768px*/
@media screen and (max-device-width: 768px) {

    #nome {
        color: white;
        font-family: 'monospace';
        font-size: 10px;
        margin: 0;
    }   

    #carrosel {
        display: flex;
        flex-direction: column;
    }

}

/*//////////////////////////////////*/