/*Importando global, header, feed e bar css*/
@import url('./global.css');
@import url('./header.css');
@import url('./feed.css');
@import url('./tecs.css');
/*Defindo as configurações para o conteudo principal*/
main{

    display: flex; /*Dando flexibilidade para os elementos*/

    flex-direction: column; /*Elementos flexíveis são dispostos verticalmente*/

    align-items: center; /*Centralizar items verticalmente no contêiner*/

}

#perfil-usuario{

    margin-top: 10vh;

}

@media screen and (max-device-width: 768px) {

    #perfil-usuario{

        margin-top: 80px;
    }
}