@import url('./global.css');

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#perfil-usuario{
    margin-top: 10vh;
}

/* Ajustando conteudo para tela menor que 768px*/

@media screen and (max-device-width: 768px) {

    #carrosel {
        display: flex;
        flex-direction: column;
    }
    
}

/*////////////////////////////////////*/