/*Importando css global,header,feed e bar*/
@import url('./global.css');
@import url('./header.css');
@import url('./feed.css');
@import url('./tecs.css');
/*Definindo configurações do conteúdo principal*/
main{
    
    display: flex;/*Dando flexibilidade para o conteudo*/    
    
    flex-direction: column;/*Elementos flexíveis são dispostos verticalmente*/

    align-items: center;/*Centralizar items verticalmente no contêiner*/
}

#perfil-usuario{

    margin-top: 10vh;

    border: 3px solid #333;
    
    border-radius: 15px;

    display: none;

}

@media screen and (max-device-width: 768px) {

    #perfil-usuario{

        margin-top: 80px;

    }

}