@import url('./global.css');

#nome, #tecnologia {
    color: white;
    text-align: left;
}

#seguir{
    border: 3px solid #00891E;
    background-color: black;
    color: #00891E;
    border-radius: 10px;
    padding: 10px;
}

#seguir:hover{
    border: 3px solid #00891E;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
}

@media screen and (max-device-width: 768px) {

    #nome {
        color: white;
        font-size: 10px;
        margin: 0;
    }   

    #carrosel {
        display: flex;
        flex-direction: column;
    }

    #biografia{
        font-size: 12px;
    }
    
}
