@import url('./global.css');

#searchInput{
    border-radius: 15px;
    border: 2px solid #00891E;
    background-color: transparent;
    width: 20rem;
    height: 2rem;
    font-family: monospace;
    font-size: 20px;
    padding: 15px;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.1); 
    outline: none; 
    color: #00891E;
    
}

button{
    border-radius: 0px 5px 0px 5px;
    color: white;
    padding: 20px;
    border: 2px solid #00891E;
    background-color: black;
    margin: 10px;
    font-family: monospace;
}

#results{
    height: 20vh;
    margin: 20px;
}

button:hover{
    border-radius: 0px 5px 0px 5px;
    color: rgb(0, 0, 0);
    padding: 20px;
    border: 2px solid #00891E;
    background-color: rgb(255, 255, 255);
}
