@import url('./global.css');


#searchInput{
    border-radius: 0px 5px 0px 5px;
    border: none;
    width: 20rem;
    height: 2rem;
}

input:focus {
    background-color: rgba(0, 0, 0, 0.1); 
    outline: none; 
}


ul {
    list-style: none;
    width: 10rem;
    
}
