@import url('./global.css');

body {
    background-color: black;
    font-family: 'KronaOne';
    margin: 0;
}

header {
    background-color: #000;
    width: auto;
    height: 100%; 
    position: fixed;
    left: 0; 
    top: 0; 
}

.navigation_header img {
    width: 1vw;
    height: 1vw;
    margin: 10px;
}

#logo {
    width: 50px;
    height: 50px;
    margin-top: 20px;
}

.navigation_header a {
    text-decoration: none;
    color: #FFF5E1;
    margin-top: 5px;
    justify-content: center;
}

.postagem {
    width: 100%;
    height: 100%;
    text-align: center;
}

#nome {
    color: #00891E;
    font-family: 'KronaOne';
    font-size: 10px;
    margin: 0;
}

#inputPostagem {
    width: 20vw;
    border-radius: 10px;
    border: 5px solid #00891E;
    height: 20vh;
    font-size: px;
    background-color: #000;
    color: white;
    margin-top: 15vw;
    font-family: 'KronaOne';
}

#publicar {
    background-color: #00891E;
    color: white;
    cursor: pointer;
    border-radius: 10px;
    padding: 10px 20px;
    border: none;
    font-size: 15px;
    font-family: 'KronaOne';
    margin-top: 4vh;
}

#publicar:hover {
    background-color: white;
    color: #00891E;
}

.centraliza {
    display: flex;
    justify-content: center;
}

#logo {
    cursor: pointer;
}

img.user{
    padding: 1px;
}

img.user:hover{
    background-color: #fff;
    border-radius: 2px;
    padding: 1px;
    cursor: pointer;
}

@media screen and (max-device-width: 768px) {
    #logo {
        width: 35px;
        height: 32px;
        margin: 0;
    }

    .navigation_header img {
        width: 3vw;
    }

    .centraliza .navigation_header{
        position: absolute;
        position: fixed;
    }

    img.user:hover{
        background-color: transparent;
        padding: 0px;
    }

    #inputPostagem { 
        margin-top:50vw;
        width: 70%;
        font-size: 12px;
    }
}
