@import url('./global.css');
@import url('./footer.css');

main{

    display: flex;

    justify-content: center;

    align-items: center;

}

.inputUser {

    background-color: transparent;

    color: #00891E;

    border: 3px solid rgb(255, 255, 255);

    border-radius: 15px;

    padding: 10px 4px;

    font-size: 20px;

    margin: 10px;

    width: 15vw;

    text-align: center;

    font-family: monospace;

}

form{

    padding: 25px;

    border: 6px solid rgb(255, 255, 255);

    width: 20vw;

    border-radius: 15px;

    display: flex;

    justify-content: center;

    align-items: center;

    flex-direction: column;

    margin: 5vh 0 16vh 0;

}

form #logo {

    border-radius: 15px;

    animation: girar 3s infinite;

    padding-bottom: 5px;

    margin: 5px;

}

#btVoltar, #cadastrar {

    display: flex; /*Dando flexibilidade para os botões*/

    justify-content: center;/*Centralizar items horizontalmente no contêiner*/

    align-items: center; /*Centralizar items verticalmente no contêiner*/

    background-color: #00891E; /*Definindo cor de fundo*/

    font-size: 15px; /*Definindo tamanho da fonte*/

    color: white; /*Definindo cor*/

    cursor: pointer; /*Definindo mudar o tipo do curso do mouse para pointer*/

    border-radius: 15px; /*Definindo arrendondamento*/

    font-family: monospace; /*Definindo fonte*/

    border: 2px solid white; /*Definindo tamanho, espessura, cor da borda*/

    font-weight: bold; /*Definindo espessura*/

    margin: 20px 0 0 0; /*Definindo margens*/

    width: 100px; /*Definindo comprimento*/

    height: 20px; /*Definindo altura*/

    padding: 20px; /*Definindo espaço de preenchimento ao redor do conteúdo*/

}

#btVoltar:hover, #cadastrar:hover {

    background-color: aliceblue;

    color: #00891E;

}

.rotUsuario, .rotSenha, .rotConfSenha, .rotTelefone{

    color: #ffffff;

    font-weight: bold;

}

.centraliza{

    display: flex;

    justify-content: center;

}

