@import url('./global.css');

.inputUser {
    background-color: black;
    color: white;
    border: 3px solid rgb(255, 255, 255);
    border-radius: 10px;
    padding: 10px 4px;
    font-size: 20px;
    margin: 10px;
    width: 20vw;
}

form{
    padding: 25px;
    border: 3px solid rgb(255, 255, 255);
    width: 20vw;
    margin: 0 auto 70px auto;
    border-radius: 15px;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.btn_entrar {
    background-color: #00891E;
    font-size: 15px;
    padding: 12px;
    cursor: pointer;
    border-radius: 15px;
    margin-top: 15px;
    border: none;
    font-family: monospace;
    color: #ffffff;
    font-weight: bold;
    border: 2px solid white;
    width: 6vw;
    min-width: 15vw;
    min-height: 3vh;
}

.btn_entrar:hover {
    background-color: aliceblue;
    color: #00891E;
}

.rotUsuario, .rotSenha, .rotConfSenha, .rotTelefone{
    color: #ffffff;
    margin: 10px 10px;
}

.centraliza{
    display: flex;
    justify-content: center;
}

#logo{
    width: 70px;
    height: 70px;
    margin-bottom: 3vh;
    margin-top: 3vh;
}

@media screen and (max-device-width: 768px){

    form{
        width: 60%;
        margin-bottom: 10vh;
    }

    .inputUser {
        width: 50vw;
    }

    .btn_entrar{
        width: 50%;
    }

}
