@import url('./global.css');
@import url('./footer.css');

body {
    background-color: black;
    color: white;
}

main {
    
    width: 1000px;
    
    margin: auto;
    
    margin-top: 100px;
    
    display: flex;
    
    flex-direction: column;
    
    font-size: 16px;
    
    font-weight: bold;
    
    color: white;
    
    margin-bottom: 30px;
}

.imagens {
    
    width: 500px;

}

img {

    width: 50px;

    height: 50px;

}

main img {

    border-radius: 20px;

    margin-bottom: 30px;

}

@media screen and (max-device-width: 768px) {

    main {

        width: 100%;

        margin: 0;

        text-align: center;
    }

    .imagens {

        width: 300px;

        margin: auto;

    }

    main p {

        width: 80%;

        font-size: 16px;

        margin: 10px auto;

        padding: 0;
    }

    h2 {

        font-size: 20px;

        margin-left: 0;

        text-align: center;

        margin: 0 10px;

        padding: 10px 0;

    }

}
