@import url('./global.css');

.avatar{
    width: 300px;
    margin-top: 10vh;
}

.avatar2{
    margin-top: 15vh;
}

h4{
    color: white;
    margin-top: 5em;
    margin-left: -15em;
}

.textoGo{
    margin: 0 15vw;
    font-size: 16px;
    font-weight: bold;
    color: white;
}

.tecnologia img{
    border-radius: 20px;
    margin-bottom: 60px;
}
