#overlay {

    display: none;

    position: fixed;

    top: 0;

    left: 0;

    width: 100%;

    height: 100%;

    background-color: rgba(0, 0, 0, 0.5); 

    z-index: 1;

}

dialog {

    margin: 0;

    display: none;

    position: fixed;

    top: 50%;

    left: 50%;

    transform: translate(-50%, -50%);

    background-color: rgb(0, 0, 0);

    color: white;
    
    z-index: 2;

    border: 2px solid #00891E;

    border-radius: 15px;

    width: 20vw;

    justify-content: center;

    align-items: center;

    flex-direction: column;

}

dialog #closeDialog{

    left: 0;

    top: 0;

    margin: 10px;

    position: fixed;

    border: 2px solid #00891E;

    background-color: black;

    color: #00891E;
    
    border-radius: 50px;

}

dialog #closeDialog:hover{

    border: 2px solid #ffffff;

    color: #ffffff;

    cursor: pointer;
    
}

dialog h3{

    color: #00891E;

    margin: 10px;

}

/*Definindo configurações para tag <a> barraLateral*/
dialog a {

    width: 100%;

    margin: 8px 10px 10px 10px; /*Definindo margens*/

    text-decoration: none; /*Retirando decoração da tag a */

    font-size: 20px; /*Definindo tamanho da fonte*/

    color: #ffffff; /*Definindo cor*/

    text-align: center;

}

/*Definindo configurações para classe golang da barraLateral*/
a[href="/golang"]:hover {

    background-color: #007acc;/*Definindo cor de fundo*/

    color: #fff;  /*Definindo cor*/

}

/*Definindo configurações para classe java barraLateral*/
a[href="/java"]:hover {

    background-color: red;/*Definindo cor de fundo*/

}

/*Definindo configurações para classe c barraLateral*/
a[href="/c"]:hover {

    background-color: blue;/*Definindo cor de fundo*/

}

/*Definindo configurações para classe postgresql barraLateral*/
a[href="/postgreSQL"]:hover {

    background-color: #1E90FF;/*Definindo cor de fundo*/

}

/*Definindo configurações para classe typescript e docker barraLateral*/
a[href="/docker"]:hover, a[href="/typescript"]:hover  {

    background-color: #4169E1;/*Definindo cor de fundo*/

}

/*Definindo configurações para classe hadoop barraLateral*/
a[href="/hadoop"]:hover {

    background-color: yellow; /*Definindo cor de fundo*/

}

/*Definindo configurações para classe html barraLateral*/
a[href="/html"]:hover {

    background-color: orange; /*Definindo cor de fundo*/

}

/*Definindo configurações para classe css3 barraLateral*/
a[href="/css"]:hover {

    background-color: blue;  /*Definindo cor de fundo*/

}

a[href="/css"]:hover, a[href="/hadoop"]:hover {

    color: black;

}

/*Definindo configurações para telas menores*/
@media screen and (max-device-width: 768px) {

    dialog{

        width: 100%;

        height: 100%;

    }

    dialog #closeDialog{

        margin: 30px;

    }

    
}